.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dist/
server/static/
t.*

# C extensions
*.so


# Envs
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Backend
staticfiles
schema.json

# Wagtail assets
server/documents
server/images
server/original_images
images/
original_images/
server/media/
