[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
awscli = "*"
ipdb = "*"

[packages]
boto3 = "*"
django = ">=2.0.2"
dj-database-url = "==0.5"
django-compressor = "*"
django-cors-headers = "==2.4.*"
django-crispy-forms = "*"
django-extensions = "==2.1.3"
django-filter = "==2.0"
django-libsass = "*"
django-storages = "*"
factory-boy = "*"
graphene-django = "==2.2.*"
gunicorn = "==19.9"
pillow = "==5.3.*"
psycopg2 = "==2.7.*"
python-dotenv = "==0.9.*"
raven = "==6.9.*"
wagtail = "==2.3.*"
wagtail_factories = {git = "https://github.com/mvantellingen/wagtail-factories.git", ref = "master"}
whitenoise = "*"

[requires]
python_version = "3.7.0"
