{% extends "base.html" %}

{% block body_class %}dark-bg{% endblock %}

{% block body %}

    <h1>talent<b>lab</b></h1>

    {% if next %}
        <div class="h4">Melde dich jetzt an.</div>
    {% endif %}


    {% if form.errors %}
        <p class="alert alert-error">Benutzername und Passwort stimmen nicht überein.</p>
    {% endif %}


    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-field">
            {{ form.username }}
            {{ form.username.label_tag }}
        </div>
        <div class="input-field">
            {{ form.password }}
            {{ form.password.label_tag }}
        </div>

        <button class="btn btn-orange" type="submit"
                name="action">Anmelden
        </button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

{% endblock %}