@import "var";

.v-btn--active .v-btn__content:before, .v-btn:focus .v-btn__content:before, .v-btn:hover .v-btn__content:before .v-btn:not(.v-btn--depressed) {
  background-color: $primary;
}

.theme--light .v-btn:not(.v-btn--icon):not(.v-btn--flat) {

  &.btn-secondary {
    background-color: rgba(255, 255, 255, 0.2);
  }

  // TODO: this is not a solution, because it overwrites the secondary button style
  //&.btn-primary {
  //  background-color: $primary;
  //  color: red;
  //}

  background-color: $primary; // $orange; // #FD6E22; //  darken($primary, 10);
  color: white;
}

// fix for the misaligned buttons, however still the case in IE1X

//button.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
//  color: #FFFFFF;
//  text-transform: initial;
//  padding-bottom: 32px;
//  font-size: 15px;
//  box-shadow: none !important;
//  background-color: $primary;
//}

.v-btn {
  border-radius: 0;
}

a.v-btn {
  text-transform: initial;
  font-size: 15px;
  box-shadow: none !important;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-minimal {
  min-width: auto;
}
