@import "var";

.v-btn--active .v-btn__content:before, .v-btn:focus .v-btn__content:before, .v-btn:hover .v-btn__content:before .v-btn:not(.v-btn--depressed) {
  background-color: $primary;
}

.theme--light .v-btn:not(.v-btn--icon):not(.v-btn--flat) {

  &.btn-secondary {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.btn-border {
    color: $grey-9;
    background-color: rgba(255, 255, 255, 0.2);
    border: $orange solid 2px;
    display: inline-block;
  }

  background-color: $primary;
  // keep this line here or otherwise the above rule will not apply
  color: white;
}

// fix for the misaligned buttons, however still the case in IE1X

.v-btn:not(.v-btn--icon):not(.v-btn--flat){
  box-shadow: none !important;
  background-color: $primary;
  color: white;
}

.v-btn:not(.v-btn--floating) {
  border-radius: 0;
  text-transform: initial;
  font-size: $base-font-size;
}

a.v-btn {
  text-transform: initial;
  font-size: 15px;
  box-shadow: none !important;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-minimal {
  min-width: auto;
}

.btn-border {
  background-color: white;
  color: white;
  border: $orange solid 2px;
}
