.v-card__actions {
  padding: 8px 16px;
  border-top: 1px solid $grey-2;

  .v-btn + .v-btn, div + .v-btn {
    margin-left: 16px;
  }
}

.v-card__title {
  padding: 16px 16px 0 16px
}

.v-card__text {
  padding: 0 16px 16px 16px
}

.v-chip {
  float: right;
  margin-top: -5px;
}
