
.text--orange {
  color: $orange !important;

  .v-icon {
    color: $orange !important;
  }
}

.background--violet {
  background: $violet;
  color: $white;
  background: linear-gradient(135deg, $violet 75%, $violet-transition);
}

.background--beige {
  background-color: $beige !important;
  color: $text-color;
}

.background--white {
  background-color: $white !important;
  color: $text-color;
}

.background--mint {
  background-color: $mint !important;
  color: $text-color;
}

.background--orange-opacity {
  background-color: $orange-opacity !important;
  color: $text-color;
}

.background--mint-opacity {
  background-color: $mint-opacity !important;
  color: $text-color;
}

.background--blue-opacity {
  background-color: $blue-opacity !important;
  color: $text-color;
}

.background--transparent {
  background-color: transparent !important;
}
