
.text--primary-accent {
  color: $primary !important;

  .v-icon {
    color: $primary !important;
  }
}

.background--secondary {
  background: $secondary;
  color: $white;
  background: linear-gradient(135deg, $secondary 75%, $secondary-transition);
}

.background--beige {
  background-color: $beige;
  color: $text-color;
}

.background--white {
  background-color: $white;
  color: $text-color;
}
