@import "var";

$toolbar-color: rgba(255, 255, 255, 0.6);

.dialog--header {

  border-bottom: 1px solid $orange;

  .v-breadcrumbs {
    margin: 0;
    padding: 0;
  }

  .v-btn--icon {
    width: auto;
  }
}

.v-dialog {

  font-size:18px;
  line-height: 24px;

  .small--content {
    max-width: 700px;
    margin: auto;
  }

  .medium--content {
    max-width: 1000px;
    margin: auto;
  }

  .three-line {
    min-height: 70px;
  }

}

// whats that?
.mygoal--selection {
  height: 100%;
}
