
.module--action-button {
  color: rgba(255, 255, 255, 0.8) !important;
  text-transform: initial !important;
}

.v-list--adjust .v-list__tile {
  height: auto;
  padding: 16px 0;

  .v-list__tile__sub-title, .v-list__tile__title {
    white-space: pre-wrap;
  }
}

.v-carousel {
  &.slim {
    box-shadow: none;
  }

  &.height-200 {
    height: 200px;
  }

  &.secondary--controls {
    .v-carousel__prev, .v-carousel__next {

      .theme--dark.v-icon {
        color: $violet;
      }
    }
  }
}

.v-expansion-panel__header {
  padding-left: 0;
  padding-right: 0;

}

ul.v-expansion-panel {
  margin-left: 0px;
}

.v-align--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1028px;
}

.hero--image {
  max-width: 750px;
  margin: auto;
}

.mb-10 {
  margin-bottom: 96px;
}

.theme--dark.v-input--slider:not(.v-input--is-dirty) {
  .v-slider__thumb-label, .v-slider__thumb {
    background: rgba($orange, 0.4);
  }
}
