a {
  text-decoration: none;

  &.router {
    color: $white;
  }

}

h1, .h1 {
  font-size: 44px;
  line-height: 58px;
  font-weight: 300;
  max-width: 780px;
  margin: auto;

  &.full-width {
    max-width: initial;
    margin: initial;
  }

}

h2, .h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
  max-width: 780px;
  margin: auto;

  &.full-width {
    max-width: initial;
    margin: initial;
  }

}

h3, .h3, .lead {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

h4, .h4 {
  font-size: $base-font-size;
  line-height: 20px;
  color: initial;
  text-transform: initial;
  font-weight: 400;
}

.lead, .text--limited {
  max-width: 780px;
  margin: auto;

  &.full-width {
    max-width: initial;
    margin: initial;
  }
}

.bold {
  font-weight: 400;
}

.paragraph {
  font-size:18px;
  line-height: 24px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  border-bottom: 1px solid $orange;
  padding-bottom: 10px;
}
