body, .body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $text-color;
  font-weight: 400;
}

a {
  text-decoration: none;

  &.router {
    color: $white;
  }

}

h1, .h1 {
  font-size: 44px;
  line-height: 58px;
  font-weight: 400;
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 34px;
  font-weight: 400;
}

h3, .h3 {
  font-size: $base-font-size;
  line-height: 20px;
  color: rgba($grey-9, 0.5);
  text-transform: uppercase;
}

h4, .h4 {
  font-size: $base-font-size;
  line-height: 20px;
  color: initial;
  text-transform: initial;
}

.lead {
  font-size: $lead-font-size;
  line-height: 34px;
}

.capitalize {
  text-transform: capitalize;
}
