// color definitions



$white: #ffffff;

$orange: #FD6E22;
$orange-light: rgba($orange, 0.15);

$blue: #D0EBF5;
$blue-light: rgba($blue, 0.5);

$beige: #F3F0EB;

$violet: #400A4D;
$violet-transition: #59006F;

$violet-light: #F6F0FA;

$mint: #A4D5A4;
$mint-light: rgba($mint, 0.3);

$border-color: #D8D8D8;

// text style

$text-color: #3f3f3f;
$font-family: 'Rubik', Arial, sans-serif;

$base-font-size: 15px;
$footer-font-size: 12px;

$light-color: rgba($text-color, 0.5);




// TODO do we need all that grey stuff?
$grey-1: #F7F7F7;
$grey-3: #F3F3F3;
$grey-2: #D8D8D8;
$grey-4: #AFB1B1;
$grey-9: #3F3F3F;
