.v-dialog {

  .v-card {
    background-color: $grey-9;
  }

  .v-btn, .v-input .v-label, .v-icon {
    color: #fff;
  }

  .v-input:not(.v-input--is-disabled) input,
  .v-input:not(.v-input--is-disabled) textarea,
  .v-input:not(.v-input--is-disabled) input,
  .v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
  }

  .btn--close {
    color: #fff;
    position: absolute;
    right: 0;
    border: none;

    .v-icon {
      font-size: 50px;
    }
  }
}
