@import "var";
@import "button";
@import "dialog";
@import "card";
@import "navigation";
@import "bubble";
@import "typography";
@import "coloring";

body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $text-color;
}

ul {
  margin-left: 16px;
}

a {
  text-decoration: none;

  &.router {
    color: $white;
  }

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  font-size: $footer-font-size;
  a {
    color: $white;
  }
}

.v-carousel {
  &.slim {
    box-shadow: none;
  }

  &.height-200 {
    height: 200px;
  }

  &.secondary--controls {
    .v-carousel__prev, .v-carousel__next {

      .theme--dark.v-icon {
        color: $secondary;
      }
    }
  }
}
