@import "var";
@import "button";
@import "dialog";
@import "card";
@import "navigation";
@import "bubble";

body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $text-color;
}

ul {
  margin-left: 16px;
}

a {
  text-decoration: none;

  &.router {
    color: $white;
  }

}

.text--primary-accent {
  color: $primary !important;

  .v-icon {
    color: $primary !important;
  }

}

.background--secondary {
  background-color: $secondary;
  color: $white;
  background: linear-gradient(135deg, $secondary, $secondary 50%, $secondary-transition);
}

.background--beige {
  background-color: $beige;
  color: $text-color;
}

.background--white {
  background-color: $white;
  color: $text-color;
}

.capitalize {
  text-transform: capitalize;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  font-size: $footer-font-size;
  a {
    color: $white;
  }
}

.v-carousel {
  &.slim {
    box-shadow: none;
  }

  &.height-200 {
    height: 200px;
  }

  &.secondary--controls {
    .v-carousel__prev, .v-carousel__next {

      .theme--dark.v-icon {
        color: $secondary;
      }
    }
  }
}
