@import "var";
@import "button";
@import "dialog";

body {
  font-family: $font-family;
  font-size: $base-font-size;
}

ul {
  margin-left: 16px;
}

a {
  text-decoration: none;
}

.application {
  font-family: $font-family;

  .theme--dark.toolbar {
    background-color: $grey-9;

    .btn--active {
      border-bottom: 5px solid $orange;
      font-weight: bold;

      &:before {
        background-color: transparent;
      }
    }
  }
}

.toolbar__content {
  .btn {
    border: none;
  }
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
