

$grey-1: #F7F7F7;
$grey-3: #F3F3F3;
$grey-2: #D8D8D8;
$grey-4: #AFB1B1;
$grey-9: #3F3F3F;

$orange: #FD6E22;
$orange-shadow: #c54602;

$blue: #EDF7FA;
$blue-shadow: #B6CCD4;


$text-color: $grey-9;
$font-family: 'Arimo', Arial, sans-serif;

